/* line 1, /home/zachary/Desktop/cec-work/app/assets/stylesheets/style.css.scss */
svg {
  display: block;
  background-color: rgba(0, 0, 0, 0.34);
  margin: auto;
  border-radius: 15px;
}

/* line 7, /home/zachary/Desktop/cec-work/app/assets/stylesheets/style.css.scss */
.background {
  fill: none;
  pointer-events: all;
}

/* line 11, /home/zachary/Desktop/cec-work/app/assets/stylesheets/style.css.scss */
.feature {
  cursor: pointer;
  stroke: black;
  stroke-width: 0.6;
}

/* line 16, /home/zachary/Desktop/cec-work/app/assets/stylesheets/style.css.scss */
.feature.active {
  fill: #80E6FF;
  stroke-width: 2;
}

/* line 20, /home/zachary/Desktop/cec-work/app/assets/stylesheets/style.css.scss */
.text {
  text-anchor: middle;
  font-size: 12px;
}

/* line 24, /home/zachary/Desktop/cec-work/app/assets/stylesheets/style.css.scss */
a:link, a:visited {
  color: black;
}

/* line 29, /home/zachary/Desktop/cec-work/app/assets/stylesheets/style.css.scss */
#map_container {
  background-image: url(http://shapebootstrap.net/demo/html/corlate/images/slider/bg1.jpg);
  position: relative;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

/* line 35, /home/zachary/Desktop/cec-work/app/assets/stylesheets/style.css.scss */
div.tooltip {
  text-align: left;
  padding: 8px;
  font: 10px Verdana;
  background: none repeat scroll 0% 0% #d3d7dd;
  border-radius: 8px;
  pointer-events: none;
  max-width: 360px;
  right: 100px;
  top: 20px;
  font-size: 20px;
  z-index: 10;
  opacity: 1;
}
