
    <section id="contact-info" class = "no-margin">
        <div class="center">                
            <h2>How to Reach Us?</h2>
            <p class="lead">Do you have a project you'd like to share with us? Do you want to talk about a joint venture?<br> Or just have questions/comments for us? You can reach us by email, telephone, fax or regular mail. </p>
        </div>
        <div class="gmap-area">
            <div class="container">
                <div class="row">
                    <div class="col-sm-5 text-center">
                        <div class="gmap">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3265.2504559162503!2d-106.6195702!3d35.07547439999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87220b651aa17f3b%3A0x2b757c327a905303!2s400+Cornell+Dr+SE%2C+Albuquerque%2C+NM+87106%2C+USA!5e0!3m2!1sen!2smx!4v1418158495502" width="600" height="450" frameborder="0" style="border:0"></iframe>
                        </div>
                    </div>

                    <div class="col-sm-7 map-content">
                        <ul class="row">
                            <li class="col-sm-6">
                                <address>
                                    <h5>Head Office</h5>
                                    <p> Kiran Katira <br></p>
                                    <p>400 Cornell Drive<br>
                                    MSC06 3715, SSC Suite 255E<br>
                                    1 University of New Mexico<br>
                                    Albuquerque, NM 87131-001<br></p>
                                    <p>Phone:(505) 277-5158 <br>
                                        Fax: (505) 277-9123
                                    Email Address: kiru2u@yahoo.com</p>
                                </address>
                            </li>


                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>  <!--/gmap_area -->