<section id="recent-works">
        <div class="container">
            <div class="center wow fadeInDown">
                <h2>Courses</h2>
                <p class="lead">
Courses are part of the curricular engagement at the University of NM<br> to address community identified needs, deepen students' civic and academic learning, enhance <br>community well-being, and enrich the scholarship of the institution.<p>

<h3>Get Involved!</h3>
<p></p>There are many ways you can get involved in community projects. <br>Check out the links below for activities on campus, and throughout the state.<br>
 
If you would like to notify us of a new volunteer opportunity in the<br> community, complete the form at the bottom of this page.</p>
            </div>

            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="http://shapebootstrap.net/demo/html/corlate/images/portfolio/recent/item1.png" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="#">UNM</a> </h3>
                                <p>See Opportunities at UNM</p>
                                <a class="preview" href="http://shapebootstrap.net/demo/html/corlate/images/portfolio/full/item1.png" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                            </div> 
                        </div>
                    </div>
                </div>   

                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="http://shapebootstrap.net/demo/html/corlate/images/portfolio/recent/item2.png" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="#">New Mexico</a></h3>
                                <p>See opportunities throughout New Mexico</p>
                                <a class="preview" href="http://shapebootstrap.net/demo/html/corlate/images/portfolio/full/item2.png" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                            </div> 
                        </div>
                    </div>
                </div> 

                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="http://shapebootstrap.net/demo/html/corlate/images/portfolio/recent/item3.png" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="#">National </a></h3>
                                <p>See National Opportunities</p>
                                <a class="preview" href="http://shapebootstrap.net/demo/html/corlate/images/portfolio/full/item3.png" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                            </div> 
                        </div>
                    </div>
                </div>   

                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="http://shapebootstrap.net/demo/html/corlate/images/portfolio/recent/item4.png" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="#">International </a></h3>
                                <p>See International Opportunities</p>
                                <a class="preview" href="http://shapebootstrap.net/demo/html/corlate/images/portfolio/full/item4.png" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                            </div> 
                        </div>
                    </div>
                </div>   
            </div><!--/.row-->
        </div><!--/.container-->
    </section><!--/#recent-works-->
