<section>
<div id="map_container" class="map_container" ></div>
<script>
	var colorscale = d3.scale.category20c();
	//var colorscale2 = d3.scale.linear().range(["grey","black"]).interpolate(d3.interpolateHcl);
	//var color = d3.scale.linear().domain([0,60]).range(["blue","red"]);
	var width = 1480, height = 950;
    var active = d3.select(null);
	var canvas = d3.select("#map_container")
					.append("svg")
					.attr("width",width)
					.attr("height",height);

	var tooltip = d3.select("#map_container")
		.append("div")
	    .attr("class", "tooltip")
	    .attr("id","tooltip")
	    .style("font-weight","bold")
		.text("Please click on a county");

// Change these to get proper view of the map. 
// scale changes the size of the map. 
// offset changes the [x,y] position in the canvas  
	var scale  = 7500;
	var offset = [width/2, height/2 - 40];

	var background = canvas.append("rect")
	                .attr("class", "background")
	                .attr("width", width)
	                .attr("height", height)
	                .on("click", reset);

		d3.json("/nm.json", function(data) {

		var group = canvas.selectAll("g")
							.data(data.features)
							.enter()
							.append("g")

		var center = d3.geo.centroid(data);

	  	var projection = d3.geo.mercator().center(center).scale(scale).translate(offset);

	  	var path = d3.geo.path().projection(projection);

		var areas = group.append("path")
						.attr("d",path)
	      				.attr("class", "feature")
						.attr("fill",function(d) { return colorscale(d.properties.COUNTYFP00); })
						.on("click",clicked);



		var text =group.append("text")
						.attr("x",function (d) {return path.centroid(d)[0]; })
						.attr("y",function (d) {return path.centroid(d)[1]; })
						.attr("class","text")
						.text(function (d) {return d.properties.NAME00; })

	});

function clicked(d) {
  if (active.node() === this) return reset();
  active.classed("active", false);
  active = d3.select(this).classed("active", true);
  
  tooltip.html(    //Populate tooltip text
        '<div class="accordian_container"><b>Community engagement in ' + d.properties.NAME00 + ' county</b><hr/><br/><div class="accordian_item" id="accord_item_2"><label>Number of Projects : </label><br/><br/><label>Ongoing Projects :</label><br/><a href="#" class="accordian_trigger"><h5>See more...</h5></a><br/><br/><button type="button" onclick="">Start a new project here</button></div></div>'            
  ).style("opacity",0.1)
  .style("font-weight","normal")
  .transition()
  .duration(500)
  .style("opacity",0.9);
}

function reset() {
  active.classed("active", false);
  active = d3.select(null);
   tooltip.html(    //Populate tooltip text
        'Please click on a county'            
  ).style("font-weight","bold")
   .style("opacity",0.1)
  .transition()
  .duration(500)
  .style("opacity",1);
}


</script>
</ section>