<div style="padding:15px;background:#ccc;">
  <div class="row">
    <div class="col-md-12">
      <h1>New dot</h1>
    </div>
  </div>

  <%= render 'form' %>

  <div class="row">
    <div class="col-md-1">
      <%= button_to 'Back', dots_path, { :class=> 'btn btn-default', :method => 'get' } %>
    </div>
  </div>
</div>
